In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [6]:
'''trainEvents is the list of all sound events across all training clips.
evalEvents is the list of all sound events across all eval clips.
displayNames is a table for Google's labeling scheme.
See https://research.google.com/audioset/download.html for more details.
'''

trainEvents = pd.read_csv("audioset_train_strong.tsv", sep="\t")
evalEvents = pd.read_csv("audioset_eval_strong_framed_posneg.tsv", sep="\t")
displayNames = pd.read_csv("mid_to_display_name.tsv", sep="\t",header=None)

trainEvents.head()

          segment_id  start_time_seconds  end_time_seconds       label
0  b0RFKhbpFJA_30000               0.000            10.000  /m/03m9d0z
1  b0RFKhbpFJA_30000               4.753             5.720   /m/05zppz
2  b0RFKhbpFJA_30000               0.000            10.000  /m/07pjwq1
3  b0RFKhbpFJA_30000               6.899             7.010  /m/07qjznt
4  b0RFKhbpFJA_30000               8.534             9.156  /t/dd00092

In [ ]:
# For EDA on this part, need to see how well represented each label is.
# Make a bar graph where each bar height = # times a certain event is found.
# Make another bar graph where each bar height = total # seconds a certain event is found.

In [4]:
evalEvents.head()

,segment_id,start_time_seconds,end_time_seconds,label,present
0,YxlGt805lTA_30000,0.0,0.96,/m/02zsn,NOT_PRESENT
1,YxlGt805lTA_30000,0.0,0.96,/m/04qvtq,NOT_PRESENT
2,YxlGt805lTA_30000,0.0,0.96,/m/04rlf,PRESENT
3,YxlGt805lTA_30000,0.0,0.96,/m/07rgkc5,NOT_PRESENT
4,YxlGt805lTA_30000,0.0,0.96,/m/0jbk,NOT_PRESENT

In [7]:
displayNames.head()

               0                     1
0  /g/11b630rrvh        Kettle whistle
1    /g/122z_qxw           Firecracker
2      /m/01280g          Wild animals
3      /m/012f08  Motor vehicle (road)
4      /m/012n7d     Ambulance (siren)

In [ ]:
import tensorflow as tf

In [ ]:
'''
The dataset goes frame by frame, with a spectral analysis of each one's
(very short) snippet of sound.

The feature sets are individual .tfrecord files separated into folders.
Read THIS for a tutorial on building a pipeline to deal with them.
https://www.tensorflow.org/guide/data#consuming_tfrecord_data

Still trying to figure out how to wrangle this.
'''